
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nhóm 6</title>
    <link rel="icon" href="~/Style/default/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Style/default/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Style/default/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Style/default/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/Style/default/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/Style/default/css/flaticon.css">
    <link rel="stylesheet" href="~/Style/default/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/Style/default/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/Style/default/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/Style/default/css/style.css">

    <link rel="stylesheet" href="~/Style/default/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.css" integrity="sha512-/D4S05MnQx/q7V0+15CCVZIeJcV+Z+ejL1ZgkAcXE1KZxTE4cYDvu+Fz+cQO9GopKrDzMNNgGK+dbuqza54jgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/" id="logo_nhom">
                            Nhóm 6
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="/product" id="navbarDropdown_1">
                                        Shop
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a href=""><i class="ti-heart"></i></a>
                            <!-- <label for="open_cart" class="dropdown cart" style="margin-left: 20px; cursor: pointer;">
                            <i class="fas fa-cart-plus"></i>

                                                    </label>-->
                            <a href="/Cart/cart"> <i class="fas fa-cart-plus"></i></a>
                            <!-- KHÔNG XÓA -->
                            <!-- <a href="" class="btn_login" >Xin chào, <span id="name_link">Nguyễn Văn A</a> -->
                            <label for="popup_login" class="btn_login">Đăng nhập/đăng ký</label>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>

    <!-- popup -->
    <!-- popup Account -->
    <input type="checkbox" id="popup_login" hidden>
    <label for="popup_login" class="overlay_popup overlay_account"></label>

    <div class="wrap_login_register">
        <div class="login_register">
            <input type="radio" name="account" id="open_login" hidden checked>
            <input type="radio" name="account" id="open_register" hidden>

            <div class="form_account login">
                <form action="Login" method="POST">
                    <div class="content_form_account">
                        <p class="title_account">
                            Đăng nhập
                        </p>
                        <div class="body_account">
                            <div class="row_account mb-2">
                                <p class="title_row">
                                    Email
                                </p>
                                <input type="email" class="input_row" required>
                            </div>
                            <div class="row_account mb-3">
                                <p class="title_row">
                                    Mật khẩu
                                </p>
                                <input type="password" class="input_row" required>
                            </div>
                            <div class="wrap_btn_submit">
                                <input type="submit" class="btn_submit" value="Đăng nhập">
                            </div>
                        </div>
                        <div class="wrap_login_social">
                            <a href="#" class="btn_social social_gg">
                                <i class="fab fa-google"></i> Google
                            </a>
                            <a href="#" class="btn_social social_fb">
                                <i class="fab fa-facebook-f"></i>  Facebook
                            </a>
                        </div>
                        <div class="footer_account">
                            <p class="wrap_txt_footer">
                                Nếu chưa có tài khoản, vui lòng <label for="open_register" class="txt_special">Đăng ký</label>
                            </p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="form_account register">
                <form action="#" data-api="registerLocal" method="POST" enctype="multipart/form-data">
                    <div class="content_form_account">
                        <p class="title_account">
                            Đăng ký
                        </p>
                        <div class="body_account">
                            <div class="row_account mb-2">
                                <p class="title_row">
                                    Họ tên
                                </p>
                                <input type="text" name="fullname" class="input_row" required>
                            </div>
                            <div class="row_account mb-2">
                                <p class="title_row">
                                    Email
                                </p>
                                <input type="text" name="email" class="input_row" required>
                            </div>
                            <div class="row_account mb-2">
                                <p class="title_row">
                                    Mật khẩu
                                </p>
                                <input type="password" name="password" class="input_row" required>
                            </div>

                            <div class="row_account mb-3">
                                <p class="title_row">
                                    Nhâp lại mật khẩu
                                </p>
                                <input type="password" name="rePassword" class="input_row" required>
                            </div>
                            <div class="wrap_btn_submit">
                                <input type="submit" class="btn_submit" value="Đăng ký">
                            </div>
                        </div>
                        <div class="footer_account">
                            <p class="wrap_txt_footer">
                                Nếu chưa có tài khoản, vui lòng <label for="open_login" class="txt_special">Đăng nhập</label>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end popup Account -->
    <!-- popup cart -->
    <!-- <input type="checkbox" id="open_cart" hidden>

    </a>
        <div class="cart">
         <div class="wrap_cart">
             <div class="header_cart">
                 <p class="name_header">
                     GIỎ HÀNG
                 </p>
             </div>
             <div class="body_cart">




                <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap_item_cart">
                <div class="item_cart">
                    <div class="wrap_thumbnail">
                        <img src="https://avi.edu.vn/wp-content/uploads/2019/11/london-2393098.jpg" alt="thumbnail" class="thumbnail">
                    </div>
                    <div class="wrap_info">
                        <a href="#" class="btn-remove"><i class="fas fa-trash"></i></a>
                        <p class="info">
                            nameschas coakscas coashichsai coisahcoihas ichsahchasc saihciashich saihcoiashcoih sahcoashco sach isacoias c sapoicjpaosjcisajopcj saoc saopjc poso
                        </p>
                        <div class="wrap_footer_info">
                            <p class="price_info">
                                10.000.000 VNĐ
                            </p>
                            <div class="wrap_control_quantity">
                                <div class="btn_quantity btn_sub">
                                    -
                                </div>
                                <p class="total">
                                    100
                                </p>
                                <div class="btn_quantity btn_plus">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="footer_cart">
        <a href="#" class="txt_footer_cart">
            THANH TOÁN
        </a>
    </div>
    </div>
    </div>-->
    <!-- end popup cart -->
    <!-- end popup -->
    <!--<input type="checkbox" id="popup_checkout" hidden>
    <label for="popup_checkout" class="overlay_popup overlay_checkout"></label>

    <div class="wrap_checkout_register">
        <div class="checkout_register">
            <input type="radio" name="checkout" id="open_checkout" hidden checked>
            <input type="radio" name="checkout" id="open_checkout" hidden>

            <div class="form_checkout checkout">
                <form action="#" method="POST">
                    <div class="content_form_checkout">
                        <p class="title_checkout">
                          Detail Payment
                        </p>
                        <div class="body_checkout">
                            <div class="row_account mb-2">
                                <p class="title_row">
                                   Credit
                                </p>
                                <input type="text" class="input_row" required>
                            </div>
                            <div class="row_checkout mb-3">
                                <p class="title_row">
                                    Address
                                </p>
                                <input type="text" class="input_row" required>
                            </div>
                            <div class="wrap_btn_submit">
                                <input type="submit" class="btn_submit" value="Payment">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            </div>
        </div>-->
    <!--end popup-->
    @RenderBody()
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>
                            Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                       class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                        class="email_icon newsletter-submit button-contactForm">
                                    subscribe
                                </button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            <P>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </P>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="~/Style/default/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/Style/default/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Style/default/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/Style/default/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/Style/default/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/Style/default/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/Style/default/js/owl.carousel.min.js"></script>
    <script src="~/Style/default/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/Style/default/js/slick.min.js"></script>
    <script src="~/Style/default/js/jquery.counterup.min.js"></script>
    <script src="~/Style/default/js/waypoints.min.js"></script>
    <script src="~/Style/default/js/contact.js"></script>
    <script src="~/Style/default/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Style/default/js/jquery.form.js"></script>
    <script src="~/Style/default/js/jquery.validate.min.js"></script>
    <script src="~/Style/default/js/listProduct.js"></script>
    <script src="~/Style/default/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="~/Style/default/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.all.min.js" integrity="sha512-jQxNe7fqaqehR3t/JfoxC8y2dwkEIL/7a6JWbs6sQdSCI/6Kd0t2okI9nhuKeSUgM5JDTDgdUzLzSPovB2lOBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Style/default/js/ajax.js"></script>
</body>

</html>
