body {
    position: relative;
}

label {
    display: block;
}

.overlay_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

#logo_nhom {
    font-weight: bold !important;
    font-size: 1.5rem;
}

.btn_login {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    cursor: pointer;
}

#name_link {
    font-weight: bold;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

/*
FORM LOGIN
*/
input[id="popup_login"]:checked ~ .wrap_login_register {
    display: block;
}

input[id="popup_login"]:checked ~ .overlay_popup.overlay_account {
    display: block;
}

.wrap_login_register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    z-index: 1001;
    display: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

    .wrap_login_register .login_register {
        width: 100%;
        height: 100%;
        position: relative;
    }

        .wrap_login_register .login_register .form_account {
            width: 100%;
            display: none;
        }

input[name="account"][id="open_login"]:checked ~ .form_account.login,
input[name="account"][id="open_register"]:checked ~ .form_account.register {
    display: block;
}

.wrap_login_register .login_register .form_account form {
    width: 100%;
}

    .wrap_login_register .login_register .form_account form .content_form_account {
        width: 100%;
        padding: 2rem;
    }

        .wrap_login_register .login_register .form_account form .content_form_account .title_account {
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #ff3368;
            text-transform: uppercase;
        }

        .wrap_login_register .login_register .form_account form .content_form_account .body_account {
            width: 100%;
            margin-top: 3rem;
        }

            .wrap_login_register .login_register .form_account form .content_form_account .body_account .row_account {
                width: 100%;
            }

                .wrap_login_register .login_register .form_account form .content_form_account .body_account .row_account .title_row {
                    font-weight: bold;
                    font-size: 1rem;
                }

                .wrap_login_register .login_register .form_account form .content_form_account .body_account .row_account .input_row {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding-bottom: 10px;
                    color: #ff3368;
                    border-bottom: 1px solid silver;
                }

            .wrap_login_register .login_register .form_account form .content_form_account .body_account .wrap_btn_submit {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 3rem;
            }

                .wrap_login_register .login_register .form_account form .content_form_account .body_account .wrap_btn_submit .btn_submit {
                    width: 120px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 1rem;
                    background-color: #ff3368;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }

        .wrap_login_register .login_register .form_account form .content_form_account .wrap_login_social {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }

            .wrap_login_register .login_register .form_account form .content_form_account .wrap_login_social .btn_social {
                width: 150px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                font-size: 1rem;
                color: white;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }

                .wrap_login_register .login_register .form_account form .content_form_account .wrap_login_social .btn_social.social_gg {
                    background-color: #cf4332;
                }

                .wrap_login_register .login_register .form_account form .content_form_account .wrap_login_social .btn_social.social_fb {
                    background-color: #3c66c4;
                }

                .wrap_login_register .login_register .form_account form .content_form_account .wrap_login_social .btn_social i {
                    margin-right: 10px;
                }

        .wrap_login_register .login_register .form_account form .content_form_account .footer_account {
            margin-top: 1rem;
        }

            .wrap_login_register .login_register .form_account form .content_form_account .footer_account .wrap_txt_footer {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: .8rem;
                align-items: center;
                width: 100%;
                height: 30px;
                color: #625656;
            }

                .wrap_login_register .login_register .form_account form .content_form_account .footer_account .wrap_txt_footer .txt_special {
                    display: flex;
                    align-items: center;
                    color: black;
                    height: 100%;
                    font-weight: bold;
                    text-decoration: underline;
                    margin-bottom: 0;
                    margin-left: 5px;
                    cursor: pointer;
                }

/*
CART
*/
input[id="open_cart"]:checked ~ .overlay_popup.overlay_cart {
    display: block;
}

input[id="open_cart"]:checked ~ .wrap_cart {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.wrap_cart {
    position: fixed;
    height: 100vh;
    width: 400px;
    top: 0;
    right: 0;
    background-color: white;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    z-index: 1001;
}

    .wrap_cart .cart {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .wrap_cart .cart .header_cart {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff3368;
        }

            .wrap_cart .cart .header_cart .name_header {
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
            }

        .wrap_cart .cart .body_cart {
            width: 100%;
            height: 100%;
            margin-top: .5rem;
            margin-bottom: 1rem;
            padding: 0 10px;
            overflow-y: scroll;
            cursor: default;
            ;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none;
        }

            .wrap_cart .cart .body_cart ::-webkit-scrollbar {
                display: none;
            }

            .wrap_cart .cart .body_cart .wrap_item_cart {
                width: 100%;
                height: 100px;
                margin-bottom: 2rem;
            }

                .wrap_cart .cart .body_cart .wrap_item_cart .item_cart {
                    width: 100%;
                    height: 100%;
                    display: flex;
                }

                    .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_thumbnail {
                        width: 130px;
                        height: 90px;
                        overflow: hidden;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }

                    .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info {
                        width: 100%;
                        height: 100%;
                        margin-left: 10px;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                        .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .btn-remove {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: .8rem;
                            background-color: #ea3030;
                            color: white;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }

                        .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .info {
                            height: 50px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                            padding-right: 30px;
                            font-size: 13px;
                            line-height: 17px;
                        }

                        .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .wrap_footer_info {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            height: 30px;
                            margin-bottom: 5px;
                        }

                            .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .wrap_footer_info .price_info {
                                font-size: 1rem;
                                font-weight: bold;
                            }

                            .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .wrap_footer_info .wrap_control_quantity {
                                display: flex;
                                height: 100%;
                                align-items: center;
                            }

                                .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .wrap_footer_info .wrap_control_quantity .btn_quantity {
                                    width: 30px;
                                    height: 30px;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #eceaea;
                                    cursor: pointer;
                                    border-radius: 5px;
                                    -webkit-border-radius: 5px;
                                    -moz-border-radius: 5px;
                                    -ms-border-radius: 5px;
                                    -o-border-radius: 5px;
                                }

                                .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_info .wrap_footer_info .wrap_control_quantity .total {
                                    width: 30px;
                                    height: 30px;
                                    margin: 0 5px;
                                    display: flex;
                                    justify-content: center;
                                }

                    .wrap_cart .cart .body_cart .wrap_item_cart .item_cart .wrap_thumbnail .thumbnail {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

        .wrap_cart .cart .footer_cart {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .wrap_cart .cart .footer_cart .txt_footer_cart {
                color: #ff3368;
                text-transform: uppercase;
                font-size: 1rem;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #ff3368;
            }
input[id="popup_checkout"]:checked ~ .wrap_login_register {
    display: block;
}

input[id="popup_checkout"]:checked ~ .overlay_popup.overlay_checkout {
    display: block;
}

.wrap_login_register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    z-index: 1001;
    display: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

    .wrap_checkout_register .checkout_register {
        width: 100%;
        height: 100%;
        position: relative;
    }

        .wrap_checkout_register .checkout_register .form_checkout {
            width: 100%;
            display: none;
        }

input[name="checkout"][id="open_checkout"]:checked ~ .form_checkout.checkout{

    display: block;
}

.wrap_checkout_register .checkout_register .form_checkout form {
    width: 100%;
}

    .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout {
        width: 100%;
        padding: 2rem;
    }

        .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkouot .title_checkout {
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #ff3368;
            text-transform: uppercase;
        }

        .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .body_checkout {
            width: 100%;
            margin-top: 3rem;
        }

            .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .body_checkout .row_checkout {
                width: 100%;
            }

                .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .body_checkout .row_checkout .title_row {
                    font-weight: bold;
                    font-size: 1rem;
                }

                .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .body_checkout .row_checkout .input_row {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding-bottom: 10px;
                    color: #ff3368;
                    border-bottom: 1px solid silver;
                }

            .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .body_checkout .wrap_btn_submit {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 3rem;
            }

                .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .body_checkout .wrap_btn_submit .btn_submit {
                    width: 120px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 1rem;
                    background-color: #ff3368;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }

        .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .wrap_checkout_social {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }

            .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .wrap_checkout_social .btn_social {
                width: 150px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                font-size: 1rem;
                color: white;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }

               
                .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .wrap_checkout_social .btn_social i {
                    margin-right: 10px;
                }

        .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .footer_checkout {
            margin-top: 1rem;
        }

            .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .footer_chehckout .wrap_txt_footer {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: .8rem;
                align-items: center;
                width: 100%;
                height: 30px;
                color: #625656;
            }

                .wrap_checkout_register .checkout_register .form_checkout form .content_form_checkout .footer_checkout .wrap_txt_footer .txt_special {
                    display: flex;
                    align-items: center;
                    color: black;
                    height: 100%;
                    font-weight: bold;
                    text-decoration: underline;
                    margin-bottom: 0;
                    margin-left: 5px;
                    cursor: pointer;
                }
.product_item_new > div {
    height: 100%;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    
}

    .product_item_new > div:hover {
        box-shadow: 0 2px 12px rgb(0 0 0 / 12%)
    }

.product_item_new .thumbnail {
    transition: all .4s;
}

.product_item_new > div:hover img.thumbnail {
    transform: translateY(-15px);
    transition: all .4s;
}

.product_item_new .name {
    color : black;
    font-weight: bold;
    font-size :16px;
    margin-top: 10px
}

    .product_item_new .name a {
        color : black; 
    }

.product_item_new:hover .name a {
    color: #288ad6 !important;
}

.product_item_new .price {
    color: #cb1c22;
    font-weight: bold;
    font-size: 18px;
    margin : 10px 0;
}
.product_item_new .add_cart {
    background: #99a2aa;
    color : white;
    border-radius : 5px;
    font-size: 14px;
    margin-top: 15px;
    display : flex;
    width : 120px;
    height : 45px;
    justify-content : center;
    align-items : center;
}

    .product_item_new .add_cart:hover {
        background: #cb1c22
    }

    /*
CATEGORY
    */
.customSidebar {
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05)
}

    .customSidebar .title_box_sideBar {
        color: #3f3f3f;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 10px;
        padding : 5px 0;
        border-bottom: 1px solid rgba(0,0,0,.05)
    }

    .customSidebar .widgets_inner {
        padding : 0
    }

    .customSidebar .link_item_sideBar {
        width: 100%;
        height: 40px;
        margin: 0 !important ;color: #3f3f3f;
        transition: all .2s ease;
        border-left: 3px solid transparent;
        padding: .5rem .5rem;
        font-size: 1.6rem;
        line-height: 1.5;
        display : flex;
        justify-content : space-between;
        align-items : center;
    }

        .customSidebar .link_item_sideBar span {
            font-size: 1.6rem;
            line-height: 1.5;
        }
        .customSidebar .link_item_sideBar:hover {
            background: rgba(0,0,0,.05);
            border-color: #ed3324;
            color: #595959;
        }

        .customSidebar .link_item_sideBar a {
            width: 100%;
            height: 100%;
        }

.cat_product_area .wrap_list_product_category {
    border-top: 1px solid rgba(0,0,0,.05);
}

.card_product {
    border: 1px solid #f1f1f1;
}

.card_product .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

    .card_product:hover {
        box-shadow: 0 2px 12px rgb(0 0 0 / 12%)
    }

    .card_product .thumbnail {
        transition: all .4s;
    }

    .card_product:hover img.thumbnail {
        transform: translateY(-15px);
        transition: all .4s;
    }

.card_product .name {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px
}

    .card_product .name{
        color: black;
    }

    .card_product:hover .name{
        color: #288ad6 !important;
    }

.card_product:hover .name a {
    color: #288ad6 !important;
}

.card_product .price {
    color: #cb1c22;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.card_product .add_cart {
    background: #99a2aa;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;
    display: flex;
    width: 120px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

    .card_product .add_cart:hover {
        background: #cb1c22
    }

    /*
    CART ITEM
    */
.cart_item_new {
    width : 100%;
    padding-bottom : 40px;
    border-bottom : 1px solid #828282;
    margin-bottom : 40px;
}

    .cart_item_new .wrap_thumbnail {
    width : 150px;
    height : 150px;
    border : 1px solid #828282;
    padding : 5px;
    border-radius : 8px
    }
        .cart_item_new .wrap_thumbnail img {
            width : 100%;
            height: 100%;
            object-fit : contain;
        }

    .cart_item_new .wrap_title {
        margin-left : 20px;
    }

    .cart_item_new .wrap_title .title {
        font-size: 18px;
        color: #3f3f3f;
        font-weight: 500
    }

    .cart_item_new .wrap_action {
        width : 200px;
        position : relative;
        height : 100%;
    }

        .cart_item_new .wrap_action .action_remove {
            position : absolute;
            top : 0;
            right : 0;
            transform : translateY( -100% );
        }

        .cart_item_new .wrap_action .action_price {
            font-size: 18px;
            color: #f2405d;
            font-weight: 500
        }

        .cart_item_new .wrap_action .wrap_control {
            margin-top : 10px;
        }