<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        Layout admin
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
